<form action="/" method="POST">
    <div class="form-item">
        <label for="speed">Speed</label>
        <input type="number" step="00.00.01" min="0" name="speed">
        <input type="hidden" name="date">
    </div>
    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>