<form action="/" method="POST">
    <div class="form-item">
        <label for="speed">Speed</label>
        <div>
            <input type="number" step="00.01" min="0.01" max="60.00" name="speed">
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
</form>