<ul>
    <% if (typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
    <% } %>
</ul>

<% if(success_msg != ''){ %>
<div class="message success"><%= success_msg %></div>
<% } %>
<% if(error_msg != ''){ %>
<div class="message error"><%= error_msg %></div>
<% } %>
<% if(error != ''){ %>
<div class="message error"><%= error %></div>
<% } %>