<h1>Dashboard</h1>
<p>Welcome <%= name %></p>
<div><a class="btn btn-primary" href="/logout">Logout</a></div>
<div>
  <%- include('./partials/form-fields') %>
</div>
<% if(speeds.speed !== null || speeds.speed !== []){ %>
<%- include('./partials/recent-times') %>
<% } %>