@import "shared/form.css";
@import "shared/buttons.css";
@import "shared/message.css";
@import "shared/header.css";
@import "shared/tables.css";
@import "shared/var.css";

body {
  font-family: arial;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.container-inner {
  margin: 0 2rem;
}
