
.btn{
    height:200%;
    padding: 0.50em 1em;
    border: 1px solid;
    cursor:pointer;
    margin-right:0.3em;
    text-decoration:none;
    border-radius:0.3em;
}

.btn:hover{
    background:hsl(0,0,50%);
}
